/**{
  margin: 0px;
  padding: 0px;
}*/

/* STYLE SECTIONING TAGS */
body {
 background-color: #373a43;
 /*add a backgroud image later*/
 cursor: url("assets/wii-pointer.png"), auto;
}

/* .cursor {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0; 
  display: none;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  /*use the z-index tag if the cursor keeps going behind other elements on the page
} */

#nav{
  display: flex;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  width: 150px;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.navbar{
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100%;
  font-family: "Roboto Mono", monospace; 
  font-size: 20px;
  color: #fcdada;
}

ul{
  list-style-type: none;
  font-family: "Roboto Mono", monospace;
  padding-left: 0;
  color:#fcdada;
}

li a{
  text-decoration: none;
  color: #836f70;
  font-size: 1em;
}

li a:hover{
  background-color: #380001
}

a{
  text-decoration: none;
  color: #836f70;
}

#main{
  text-align: center; 
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20%;
  margin-right: 20%;
}


/* STYLE TEXT */

.intro{
  color: #fcdada;
  font-family: "Roboto Mono", monospace; 
  text-align: center;
  padding: 40px;
  padding-left: 10em;
  padding-right: 10em;
}

p{
  color: #fcdada;
  font-family: "Roboto Mono", monospace; 
  font-size: 15px;
  padding-top: 1em;
  text-align: center;
}

h1 {
  color: #fcdada;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  text-decoration: underline overline;
  padding: 0.5em;
}

h2 {
  color: #fcdada;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  text-decoration: underline overline;
  padding: 0.5em;
}

h3 {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  color: #fcdada;
  padding-top: 2em;
}

.factstuff{ /*styles the fact button section*/
  background-image: url("assets/holding-apple.jpg");
  background-position: center top;
  margin: 0px;
  padding-bottom: 2em;
  overflow: none;
}

#factbutton{ /*styles the fact button*/
  background-color: #ED7D31;
  border-radius: 15px;
  border-color: #fcdada;
  color: #fcdada;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
}

#factdisplay{
  padding-bottom: 2em;
  font-size: 20px;
}

#factbutton:hover{ /*changes the color of the fact button when hovered over w a mouse*/
  background-color: #fcdada;
  color: #ED7D31;
}

.resourcegal { /*styles the cards on the resource page*/
  margin: 5px;
  border: 3px solid #fcdada;
  border-radius: 5px;
  background-color: #ED7D31;
  float: left;
  width: 170px;
  padding: 0em;
}

.resimg { /*styles the images for the cards on the resource page*/
  width:80%;
  border-radius: 5px;
}

.desc { /*styles the descriptions of the cards/links on the resource page*/
  padding: 15px;
  text-align: center;
  color: #fcdada;
  font-family: "Roboto Mono", monospace;
}

#changelog{
  font-family: "Roboto Mono", monospace;
  color: #fcdada;
}


