/*fonts*/
@font-face{
  font-family: Cherry Bomb One;
  src: url(assets/Cherry_Bomb_One/CherryBombOne-Regular.ttf);
}

@font-face{
  font-family: Sono;
  src: url(/assets/Sono/static/Sono-Regular.ttf);
}

html{
  cursor: url("assets/wii-pointer.png"), auto;
}

/*main content*/
body {
 background-color: #373a43;
 /*add a backgroud image later*/
  font-family: "Sono", monospace;
  color: #FF7C23;
  text-align: center;
}

h1{
  filter: drop-shadow( 0 0.125rem #bd5c1b)
  drop-shadow( 0.125rem 0 #bd5c1b) 
  drop-shadow( 0 -0.063rem #f2cda8)
  drop-shadow( -0.063rem 0 #f2cda8) 
  drop-shadow( 0 0.313rem white) 
  drop-shadow( 0.313rem 0 white) 
  drop-shadow( 0 -0.313rem white) 
  drop-shadow( -0.313rem 0 white) 
  drop-shadow(0.063rem 0.063rem 0 #b06a3a) 
  drop-shadow(0.063rem 0.063rem 0 #b06a3a);
  color: #e69d45;
  text-align: center;
  font-family: "Cherry Bomb One", monospace;

  padding: 0rem;
  margin: 0rem;
}

/*general text styling*/
h2 {
  filter: drop-shadow( 0 0.125rem #bd5c1b)
  drop-shadow( 0.125rem 0 #bd5c1b) 
  drop-shadow( 0 -0.063rem #f2cda8)
  drop-shadow( -0.063rem 0 #f2cda8) 
  drop-shadow( 0 0.313rem white) 
  drop-shadow( 0.313rem 0 white) 
  drop-shadow( 0 -0.313rem white) 
  drop-shadow( -0.313rem 0 white) 
  drop-shadow(0.063rem 0.063rem 0 #b06a3a) 
  drop-shadow(0.063rem 0.063rem 0 #b06a3a);
  color: #e69d45;
  text-align: center;
  font-family: "Cherry Bomb One", monospace;
  padding: 0rem;
}

p{
  font-size: 0.938rem;
  text-align: center;
}

a{
  font-size: 0.938rem;
  /* padding-top: 1rem; */
  text-align: center;
}
/*add hover effect to links later*/

ul{
  list-style-type: none;
}

/*grid layout*/
.container {  
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  gap: 0.313rem 1.25rem;
  grid-auto-flow: row;
  grid-template-areas:
    ". header header header ."
    ". nav intro intro ."
    ". nav currently devlog ."
    ". nav . . ."
    ". nav sticker music-player ."
}

.header { 
  margin-bottom: 2rem;
  width: auto;
  height: auto;
  font-size: 3.438rem;

  background-image: url(/assets/istockphoto-993410660-612x612.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border-radius: 0px 0px 10px 10px;

  border: 5px solid white;
  border-top: none;

  /* border-width: 100px;
  border-image-slice: 111 105 108 105;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: round round;
  border-image-source: url(/assets/border-design.png); */

  /* transform: scale(0.75); */
  grid-area: header; 
}


.intro { 
  text-align: center;
  border-width: 0.313rem;
  border-style: ridge;
  border-color: #FF7C23;

  grid-area: intro; 
}

.nav { 
  background-image: url(assets/grid-bg.jpg);
  background-size: cover;
  border-image-source: url(assets/pin.png);
  border-width: 1.25rem;
  border-style: solid;
  border-radius: 0.938rem;
  /*get links into column*/
  grid-area: nav; 
}

nav a{
  text-decoration: underline;
  color: #FF7C23;
} 

.currently { /*reduce size of div later*/
  grid-area: currently; 
}

.devlog {  
  grid-area: devlog;
}

.box{
  border-image-source: url(assets/pin.png);
  border-width: 1.25rem;
  border-style: solid;
  border-radius: 0.938rem;

  background-image: url(assets/grid-bg.jpg);
  background-size: cover;
  overflow: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

.box::webkit-scrollbar{
  width: 0.5rem;
}
.box::-webkit-scrollbar-thumb{
  background-color: #FF7C23;
  border-radius: 0.625rem;
}
.box::webkit-scrollbar-track{
  background-color: transparent;
}

.music-player { 
  grid-area: music player; 
}

.sticker { 
  grid-area: sticker; 
}







